<configuration>
  <!-- 테스트 환경에서는 콘솔에만 간단하게 출력 -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.squad.careerhub" level="DEBUG"/>

  <logger name="org.springframework" level="INFO"/>

  <logger name="org.hibernate.SQL" level="DEBUG"/>
  <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>

  <!-- Root Logger -->
  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>

</configuration>