name: careerhub
on:
  push:
    branches:
      - Setting/#46
  pull_request:
    branches:
      - main

jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 소스코드 및 서브모듈 체크아웃
        uses: actions/checkout@v4

      - name: JDK 설치
        uses: actions/setup-java@v4
        with:
          distribution: liberica
          java-version: 21

      - name: Gradle 캐싱
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: application.yml files 생성
        run: |
          mkdir -p ./src/main/resources
          cd ./src/main/resources
          echo "${{ secrets.APPLICATION_YML }}" > ./application.yml
          echo "${{ secrets.APPLICATION_PROD_YML }}" > ./application-prod.yml
          echo "${{ secrets.APPLICATION_S3_YML }}" > ./application-s3.yml
          echo "${{ secrets.APPLICATION_OAUTH_YML }}" > ./application-oauth.yml

      - name: Gradlew 실행 권한 부여
        run: chmod +x gradlew

      - name: Spring Boot JAR 빌드
        run: ./gradlew bootJar

      - name: Docker Hub 로그인
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker 이미지 빌드 및 푸시
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/careerhub:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/careerhub:latest

      - name: AWS EC2에 배포
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          port: 22
          script_stop: true
          script: |
            cd ~/careerhub
            
            # .env 파일 생성
            cat > .env << EOF
            DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }}
            MYSQL_ROOT_PASSWORD=${{ secrets.MYSQL_ROOT_PASSWORD }}
            MYSQL_USERNAME=${{ secrets.MYSQL_USERNAME }}
            MYSQL_PASSWORD=${{ secrets.MYSQL_PASSWORD }}
            EOF
            
            # 최신 이미지 받기
            docker-compose pull app
            
            # Docker Compose로 전체 스택 실행
            docker-compose up -d --no-deps app
            
            # 사용하지 않는 이미지 정리
            docker image prune -af

#            docker stop careerhub || true
#            docker rm careerhub || true
#            docker pull ${{ secrets.DOCKER_USERNAME }}/careerhub:latest
#            docker run -d --name careerhub -p 8080:8080 --restart unless-stopped ${{ secrets.DOCKER_USERNAME }}/careerhub:latest
#