name: pull_request CI

on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: 소스코드 체크아웃
        uses: actions/checkout@v4

      - name: JDK 설치
        uses: actions/setup-java@v4
        with:
          distribution: liberica
          java-version: 21

      - name: Gradle 캐싱
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: application.yml files 생성
        run: |
          mkdir -p ./src/main/resources
          cd ./src/main/resources
          echo "${{ secrets.APPLICATION_YML }}" > ./application.yml
          echo "${{ secrets.APPLICATION_PROD_YML }}" > ./application-prod.yml
          echo "${{ secrets.APPLICATION_LOCAL_YML }}" > ./application-local.yml
          echo "${{ secrets.APPLICATION_TEST_YML }}" > ./application-test.yml
          echo "${{ secrets.APPLICATION_S3_YML }}" > ./application-s3.yml
          echo "${{ secrets.APPLICATION_OAUTH_YML }}" > ./application-oauth.yml

      - name: Gradlew 실행 권한 부여
        run: chmod +x gradlew

      - name: 테스트 실행
        run: /gradlew test --stacktrace --info

      - name: 빌드 확인
        run: ./gradlew bootJar
